/* Sticky footer CSS and body site specific cssfrom http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px; /* bottom = footer height */
    background-color: #F1F1EF;
}
footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}
.flashmessage{
    background-color: yellow;
}
.jumbotron{
    background-color: #038894;
    color: white;
}
.footer_container{
    background-color: #038894;
    color: white;
}
.footer_container a{
    color: white;
}
h3 a{
    color: black;
}

.jumbotron a {
    color: white;
}